%h1 galakei

%p #{link_to "Japanese feature phones", "http://www.mobalean.com/en/keitai_web_technology_guide"} (a.k.a., keitai, galakei) have a number of restrictions over normal web browsers.  galakei is a library adds support for them.

%h2 Installation

%p Simply add galakei to your Gemfile.

%h2 Goals

%p
  ● Provide support for 3G handsets from the major 3 carriers in Japan (docomo, au, SoftBank)
  %br
  ● Avoid modifying Rails internals as much as possible
  %br
  ● Minimize effort for developer

%h2 Further information 
%p See #{link_to "the RDoc", "/rdoc/"} for the documentation.
%p See the source for #{link_to "the galakei gem", "https://github.com/mobalean/galakei"} and #{link_to "this homepage", "https://github.com/mobalean/galakei-homepage"} for more details.

%h2 Thanks
%p
  ● To #{link_to "jpmobile", "https://github.com/jpmobile/jpmobile"} for offering the most mature Rails plugin for Rails
  %br
  ● To #{link_to "docomo_css", "https://github.com/milk1000cc/docomo_css"} for providing the inspiration for galakei/docomo_css
