<!DOCTYPE html>
<html>
<head>
  <title>Galakei - The Ruby Gem</title>
  <%= stylesheet_link_tag    "generic", :media => "all" %>
  <%= stylesheet_link_tag    "galakei", :media => "all"  if galakei? %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="content"> <%= yield %></div>

<div id="footer">
  (c) mobalean LLC
</div>
</body>
</html>
